{% extends "base.html" %}

{% block main %}

<div class="container intro">
	<div class="row">
		<div class="fourcol">

	

		</div>
		
		<div class="sevencol last">

Intro text <br />
Intro text <br />
Intro text <br />
Intro text <br />
Intro text <br />

		</div>
	</div> <!--/row-->
</div> <!--/container-->



<div class="container details">
	<div class="row">
		<div class="fourcol">


		</div>
		
		<div class="fourcol">



		</div>
		
		<div class="fourcol last">




		</div>
	</div> <!--/row-->
</div> <!--/container-->


<div class="container markup">
	<div class="row">
		<div class="fourcol">


		</div>
		
		<div class="sevencol last">
		
		
		
		</div>
	</div> <!--/row-->
</div> <!--/container-->



<div class="container markup">
	<div class="row">
		<div class="fourcol">
		
		
		
		</div>
		
		<div class="sevencol last">
		
		

		</div>
	</div> <!--/row-->
</div> <!--/container-->





<div class="container navlinks">
	<div class="row">
	<ul>	
		<li>List item</li>
		<li>List item</li>
	</ul>
	</div>
</div>

<div class="container paypal">
	<div class="row">

		<div class="tencol"></div>
		<div class="twocol last">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="business" value="hello@andytlr.com">
			<input type="hidden" name="lc" value="AU">
			<input type="hidden" name="item_name" value="Andy Taylor - 1140px CSS Grid">
			<input type="hidden" name="amount" value="5.00">
			<input type="hidden" name="currency_code" value="AUD">

			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="currency_code" value="AUD">
			<input type="hidden" name="bn" value="PP-DonationsBF:image:NonHostedGuest">
			<input type="image" src="img/donate.png" border="0" name="submit" alt="Donate $5 via PayPal :)" title="Donate $5 via PayPal :)">
			<img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
			</form>			
		</div>
	</div>
</div>

<div class="container columns">
	<div class="row">
		<div class="onecol">
			
		</div>
		<div class="onecol">
			
		</div>
		<div class="onecol">
			
		</div>
		<div class="onecol">

			
		</div>
		<div class="onecol">
			
		</div>
		<div class="onecol">
			
		</div>
		<div class="onecol">
			
		</div>
		<div class="onecol">
			
		</div>

		<div class="onecol">
			
		</div>
		<div class="onecol">
			
		</div>
		<div class="onecol">
			
		</div>
		<div class="onecol last">
			
		</div>
	</div>

</div>

<img src="img/resize.png" alt="Resize me!" id="resize" />

    <a rel="nofollow" class="fork" href="https://github.com/edwardjohnson/PortfolioApp"> 
        <img src="/img/forkme-badge.png" alt="Fork me on GitHub"> 
    </a> 

    <script> 
        (function(w,d){
            Modernizr.load({load: '//connect.facebook.net/en_US/all.js#xfbml=1'});
            Modernizr.load({load: '//platform.twitter.com/widgets.js'});
            Modernizr.load({load: 'https://apis.google.com/js/plusone.js'});
        }(this,document));
    </script>  

{% endblock %}
