

 <div class="container header"><!--1140 container -->
	<div class="row">
			<div class="fourcol">
		<div class="logo"><h1>A responsive HTML5 Web Portfolio App. Fluid all the way down to mobile.</h1></div>
		</div> <!--/col-->
	<div class="fourcol">
<ul class="navbar">
<li><a href="/">Home</a><</li>
<li><a href="/example">Example</a><</li>
<li><a href="#goto_anchor1">Anchor link</a></li>

<li></li>	
	</ul>		
	
	<select>
	<option value="Option1">Option1</option>
<option value="Option2" onClick="location.href=#goto_anchor1">Option2</option>
	</select>
		</div> <!--/col-->						
	</div> <!--/row-->
</div> <!--/container-->
